@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --font1: 'Public Sans', sans-serif;
    --color_DarkBlue: hsl(233, 26%, 24%);
    --color_BrightCyan: hsl(192, 70%, 51%);
    --color_GrayishBlue: hsl(233, 8%, 62%);
    --color_LightGrayishBlue: hsl(220, 16%, 96%);
    --color_VeryLightGray: hsl(0, 0%, 98%);
    --color_White: hsl(0, 0%, 100%);
}

html{
    font-size: 18px;
}

body{
    font-family: var(--font1);
    max-width: 100vw;
}

.container{
    max-width: 1440px;
    width: 80%;
    margin: 0px auto;
    padding: 20px 0;
    overflow: hidden;
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(to right, #34cc79 30%, #2fc78f 50%, #2ebdb9 100%);
    color: var(--color_White);
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
}

.title{
    color: var(--color_DarkBlue);
}

.paragraph{
    color: var(--color_GrayishBlue)
}

/* --- Header --- */
/* --- navbar --- */
.header{
    /* max-width: 1200px; */
    width: 100%;
}

.header__container{
    background-color: var(--color_White);
    padding: 10px 0;
    width: 100%;
    /* display: flex; */
    position: relative;
    z-index: 1000;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display: flex;
}

.header__items{
    list-style: none;
    margin: 0 25px;
}

.header__links{
    text-decoration: none;
    font-size: 14px;
    color: var(--color_GrayishBlue)
}

.header__figure{
    width: 50%;
    max-width: 150px;
    display: flex;
    cursor: pointer;
}

.header__logo{
    width: 100%;
}

.header__button{
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

/* --- header --- */
/* --- image, text --- */
.header__section{
    background-color: var(--color_VeryLightGray);
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.header__image{
    
}

.header__image::before{
    /* content: url('../images/bg-intro-desktop.svg'); */
    position: absolute;
    top: 0;
    right: -10%;
    display: flex;
    
}

.header__img{
    position: absolute;
    top: -160px;
    right: -180px;
    width: 55%;
    z-index: 100;
}

.header__texts{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.header__title{
    font-size: 3rem;
    font-weight: 300;
}

.header__paragraph{
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
}

.header__content--btn{
    margin: 20px 0 10px;
}


/* --- main section --- */
.section__main{
    background-color: var(--color_LightGrayishBlue);
    padding: 20px 0 40px;
}

.section__products{
    display: flex;
    flex-direction: column;

}

.section__texts{
    width: 55%;
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section__title{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section__paragraph{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 10px;
}

.section__product{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2em;
    overflow: hidden;
}

.product{
    min-width: 200px;
    flex: 30%;
}

.product__img{
    /* width: 25%; */
}

.product__title{
    margin: 30px 0;
    font-size: 24px;
    font-weight: 400;
}

.product__paragraph{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}



/* --- latest article --- */
.section__content{
    background-color: var(--color_VeryLightGray);
    width: 100%;
}

.section__cards{
    padding: 50px 0;
}

.section__cards--title{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

.card__container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2em;
}

.card{
    min-height: 400px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(235, 235, 235, 0.555);
    display: flex;
    flex-direction: column;
}

.card__picture{
    height: 50%;
    margin-bottom: 10px;
}

.card__img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card__texts{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card__sign{
    margin: 20px 0 10px;
    font-size: 12px;
    font-weight: 300;
    font-family: var(--font1);
    color: var(--color_GrayishBlue);
}

.card__title{
    font-size: 20px;
    font-family: var(--font1);
    font-weight: 400;
}

.card__paragraph{
    font-size: 14px;
    font-family: var(--font1);
    font-weight: 300;
    margin-bottom: 30px;
}



/* ---footer section --- */
.footer{
    background-color: var(--color_DarkBlue);
    width: 100%;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
    height: 200px;
    padding: 50px 0;
}

.footer__images{
    display: grid;
    grid-area: 1/1/1/3;
    align-content: space-between;
}

.footer__figure{
    
}

.footer__social{
    
}

.footer__icons{
    font-size: 18px;
    margin: 0 6px;
}

.footer__icon{
    
}

.footer__links{
    display: grid;
    grid-area: 1/3/1/4;
}

.footer__contacts{
    display: grid;
    justify-content: flex-end;
    grid-area: 1/4/1/5;
}

.footer__list{
    display: grid;
    list-style: none;
    align-content: space-between;
    padding: 0;
}

.footer__items{
    
}

.footer__link{
    color: var(--color_White);
    text-decoration: none;
    font-size: 14px;
}

.footer__button{
    grid-area: 1/6/1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__copyright{
    font-size: 14px;
    color: var(--color_GrayishBlue);
}